@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.ft-topics__topics-more, .slider__body, .slider__container, .menu__list, body .wrapper, .main, .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ====== Logo ====== */
.logo {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.39;
  text-transform: uppercase;
  color: #F8F9FA;
  cursor: pointer;
  z-index: 3;
}
.logo span {
  text-transform: none;
}
.logo::after {
  content: ".";
  color: #DDBEA9;
}

/* ====== Menu Burger ====== */
.menu-icon {
  display: none;
}
@media (max-width: 47.99875em) {
  .menu-icon {
    display: block;
    position: relative;
    inset: 0 auto auto 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    width: 1.875rem;
    height: 1.1875rem;
    z-index: 1;
  }
  .menu-icon::before, .menu-icon::after, .menu-icon span {
    content: "";
    position: absolute;
    inset: 0 auto auto 0;
    width: 100%;
    height: 0.0625rem;
    background-color: rgba(248, 249, 250, 0.5019607843);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu-icon::after {
    inset: auto auto 0 0;
  }
  .menu-icon span {
    inset: 50% auto auto 0;
  }
}

.menu-open body {
  overflow: hidden;
}
.menu-open .menu-icon::before {
  inset: 50% auto auto 0;
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}
.menu-open .menu-icon::after {
  inset: auto auto 50% 0;
  -webkit-transform: translateY(50%) rotate(45deg);
      -ms-transform: translateY(50%) rotate(45deg);
          transform: translateY(50%) rotate(45deg);
}
.menu-open .menu-icon span {
  width: 0;
  inset: 50% auto auto 50%;
}
.menu-open .menu__body {
  inset: 0 auto auto 0;
}
.menu-open .menu__body::before {
  inset: 0 auto auto 0;
}

/* ====== Date Color ====== */
.date_white {
  color: #e5e5e5;
}

/* ====== Title ====== */
.title {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.6;
  color: #212529;
}
.title_white {
  color: #F8F9FA;
}
.title_white .title__link {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.title_white .title__link:active {
  color: rgba(248, 249, 250, 0.5019607843);
}
@media (any-hover: hover) {
  .title_white .title__link:hover {
    color: rgba(248, 249, 250, 0.5019607843);
  }
}
.title_small {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.56;
}
.title__link {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.title__link:active {
  color: #CCD5AE;
}
@media (any-hover: hover) {
  .title__link:hover {
    color: #CCD5AE;
  }
}

/* ====== Preview Color ====== */
.preview_white {
  color: #e5e5e5;
}

/* ====== Cards ====== */
.cards {
  display: grid;
  grid-template: auto/1fr;
  gap: 1.5625rem 0.9375rem;
}
@media (min-width: 26.5625em) {
  .cards {
    grid-template: auto/repeat(2, 1fr);
  }
}
@media (min-width: 37.5em) {
  .cards {
    grid-template: auto/repeat(3, 1fr);
  }
}
@media (min-width: 61.875em) {
  .cards {
    gap: 2.8125rem 1.875rem;
  }
}

.card > *:not(:last-child) {
  margin-bottom: 0.625rem;
}
@media (min-width: 61.875em) {
  .card > *:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.card__header {
  position: relative;
  background-color: #C4C4C4;
  border-radius: 0.1875rem;
  overflow: hidden;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.card__header:not(:last-child) {
  margin-bottom: 0.9375rem;
}
@media (min-width: 61.875em) {
  .card__header:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.card__header:active {
  background-color: #212529;
}
@media (any-hover: hover) {
  .card__header:hover {
    background-color: #212529;
  }
}
.card__category {
  position: absolute;
  inset: 12% 7.63% auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 4rem;
  min-height: 1.5625rem;
  padding: 0.1875rem 0.75rem 0.125rem;
  border-radius: 0.1875rem;
  font-weight: 700;
  font-size: 0.5rem;
  line-height: 2.5;
  text-transform: uppercase;
  color: #F8F9FA;
  background-color: rgba(33, 37, 41, 0.3019607843);
  z-index: 1;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .card__category:hover {
    background-color: #212529;
  }
}
.card__image {
  display: block;
  position: relative;
  overflow: hidden;
  padding-bottom: 63.61%;
}
.card__image img {
  position: absolute;
  inset: 0 auto auto 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  -o-transition: filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}
.card__image img:active {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}
@media (any-hover: hover) {
  .card__image img:hover {
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
  }
}
@media (min-width: 26.5625em) and (max-width: 57.8125em) {
  .card__title {
    font-size: 1.125rem;
  }
}
.card__preview {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.card__preview > *:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.author {
  padding-top: 0.625rem;
  border-top: 0.0625rem solid #e5e5e5;
}
@media (min-width: 61.875em) {
  .author {
    padding-top: 0.9375rem;
  }
}
.author__link {
  position: relative;
  border-bottom: 0.0625rem solid transparent;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.author__link::after {
  content: "";
  position: absolute;
  inset: auto auto 0.0625rem 0;
  width: 100%;
  height: 0.0625rem;
  background-color: currentColor;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.author__link:active, .author__link:active::after {
  color: #212529;
  opacity: 1;
}
@media (any-hover: hover) {
  .author__link:hover, .author__link:hover::after {
    opacity: 1;
    color: #212529;
  }
}

.layout {
  color: #e5e5e5;
  background-color: #212529;
  height: 100vh;
}
.layout__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0rem 1.875rem;
  height: 100vh;
}

.sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  padding: 3.125rem 0.9375rem 3.125rem 0rem;
  border-right: 0.0625rem solid rgba(248, 249, 250, 0.5019607843);
}
.sidebar__figure {
  padding: 0.3125rem;
  border: 0.0625rem solid rgba(248, 249, 250, 0.5019607843);
  border-radius: 0.1875rem;
}
.sidebar__quote {
  padding: 1.25rem 0.625rem;
  background-color: rgba(248, 249, 250, 0.5019607843);
  border-radius: 0.1875rem;
}
.sidebar__quote:not(:last-child) {
  margin-bottom: 1.25rem;
}
.sidebar__figcaption {
  text-align: right;
  padding-right: 1.25rem;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 80%;
          flex: 1 0 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3.125rem 0rem;
}
.main__table {
  width: 100%;
  color: #F8F9FA;
  background-color: rgba(248, 249, 250, 0.5019607843);
  border: 0.125rem solid #e5e5e5;
  border-collapse: collapse;
}
.main__table td, .main__table th {
  padding: 0.3125rem;
  border: 0.125rem solid #e5e5e5;
}
.main__table tfoot {
  text-align: center;
}

/* ====== General Styles ====== */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.67;
  color: #495057;
  background-color: #F8F9FA;
}
body .wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;
}
body .wrapper main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
body .wrapper main:not(:last-child) {
  margin-bottom: 3.125rem;
}
@media (min-width: 61.875em) {
  body .wrapper main:not(:last-child) {
    margin-bottom: 6.25rem;
  }
}

[class*=__container] {
  max-width: 79.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

/* ====== Header ====== */
.header {
  position: absolute;
  inset: 0 auto auto 0;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem 1.25rem;
  padding: 0.3125rem 0.9375rem;
  min-height: 3.125rem;
}
@media (min-width: 48em) {
  .header__container {
    min-height: 6.0625rem;
  }
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem 0.9375rem;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  z-index: 2;
}
@media (min-width: 25em) {
  .header__navigation {
    gap: 0.3125rem 1.5625rem;
  }
}
@media (min-width: 48em) {
  .header__navigation {
    -webkit-transform: translate(13.4375rem, 0);
        -ms-transform: translate(13.4375rem, 0);
            transform: translate(13.4375rem, 0);
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    inset: 0 auto auto -100%;
    width: 100%;
    height: 100%;
    padding: 4.375rem 0 0 1.25rem;
    background-color: #212529;
    overflow: auto;
    -webkit-transition: inset 0.3s;
    -o-transition: inset 0.3s;
    transition: inset 0.3s;
    z-index: 1;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    inset: 0 auto auto -100%;
    width: 100%;
    height: 3.125rem;
    background-color: #212529;
    z-index: 1;
    -webkit-transition: inset 0.3s;
    -o-transition: inset 0.3s;
    transition: inset 0.3s;
  }
}
.menu__list {
  gap: 0.9375rem 0;
}
@media (min-width: 48em) {
  .menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0.3125rem 1.5625rem;
  }
}
@media (min-width: 48em) {
  .menu__item_drop {
    position: relative;
    padding-right: 0.8125rem;
  }
  .menu__item_drop::after {
    content: "";
    position: absolute;
    inset: 0.625rem 0 auto auto;
    width: 0.5rem;
    height: 0.3125rem;
    background: url("../img/icons/dropdown-arrow.svg") no-repeat;
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
}
@media (min-width: 48em) and (any-hover: hover) {
  .menu__item_drop:hover::after {
    opacity: 1;
  }
  .menu__item_drop:hover .menu__dropdown {
    visibility: visible;
    opacity: 1;
    top: 100%;
    pointer-events: auto;
  }
}
@media (any-hover: hover) {
  .menu__item:hover .menu__link {
    color: #F8F9FA;
  }
  .menu__item:hover .menu__link::after {
    width: 100%;
    inset: auto auto 0 0;
  }
}
.menu__link {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 2.08;
  text-transform: capitalize;
  color: rgba(248, 249, 250, 0.5019607843);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.menu__link::after {
  content: "";
  position: absolute;
  inset: auto auto 0 50%;
  width: 0;
  height: 0.125rem;
  background-color: #DDBEA9;
  border-radius: 0.125rem;
  -webkit-transition: width 0.3s, inset 0.3s;
  -o-transition: width 0.3s, inset 0.3s;
  transition: width 0.3s, inset 0.3s;
}
.menu__link.active, .menu__link:active {
  color: #F8F9FA;
}
.menu__link.active::after {
  width: 100%;
  inset: auto auto 0 0;
}
@media (min-width: 48em) {
  .menu__link {
    font-size: inherit;
  }
}
@media (min-width: 48em) {
  .menu__dropdown {
    position: absolute;
    inset: 120% auto auto -1.25rem;
    padding-top: 2.5rem;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
    z-index: 10;
  }
}

.dropdown__list {
  padding: 0.9375rem 0rem 0rem 1.25rem;
}
@media (min-width: 48em) {
  .dropdown__list {
    min-width: 8.75rem;
    padding: 1.25rem;
    background-color: #212529;
    border-radius: 0.3125rem;
  }
}
.dropdown__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
.dropdown__link {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 2.08;
  color: rgba(248, 249, 250, 0.5019607843);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.dropdown__link:active {
  color: #F8F9FA;
}
@media (any-hover: hover) {
  .dropdown__link:hover {
    color: #F8F9FA;
  }
}
@media (min-width: 48em) {
  .dropdown__link {
    font-size: inherit;
  }
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  min-height: 1.8125rem;
  overflow: hidden;
}
@media (min-width: 21.875em) {
  .search {
    gap: 0.9375rem;
  }
}
@media (min-width: 48em) {
  .search {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.search__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-width: 2.3125rem;
  min-height: 1.5625rem;
  border-right: 0.0625rem solid rgba(248, 249, 250, 0.5019607843);
}
.search__button:active .search__icon path {
  fill-opacity: 1;
}
@media (any-hover: hover) {
  .search__button:hover .search__icon path {
    fill-opacity: 1;
  }
}
@media (min-width: 48em) {
  .search__button {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    border-right: none;
    border-left: 0.0625rem solid rgba(248, 249, 250, 0.5019607843);
  }
}
@media (max-width: 47.99875em) {
  .search__icon {
    width: 1.125rem;
    height: 1.1875rem;
  }
}
.search__icon path {
  -webkit-transition: fill-opacity 0.3s;
  -o-transition: fill-opacity 0.3s;
  transition: fill-opacity 0.3s;
}
.search__input {
  visibility: hidden;
  font-weight: 500;
  line-height: 2.08;
  color: #F8F9FA;
  width: 6.25rem;
  min-height: 1.5625rem;
  padding: 0 0.3125rem;
  border-radius: 0.1875rem;
  background-color: rgba(248, 249, 250, 0.5019607843);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.search__input:focus {
  outline: 0.0625rem solid #F8F9FA;
  border: 0.0625rem solid #F8F9FA;
}
.search__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  content: url("../img/icons/search-cross.svg");
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .search__input::-webkit-search-cancel-button:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}
@media (min-width: 21.875em) {
  .search__input {
    width: 7.8125rem;
  }
}
@media (min-width: 25em) {
  .search__input {
    width: 9.375rem;
  }
}
@media (min-width: 28.125em) {
  .search__input {
    width: 12.5rem;
  }
}
@media (max-width: 47.99875em) {
  .search__input {
    -webkit-transform: translate(9.375rem, 0);
        -ms-transform: translate(9.375rem, 0);
            transform: translate(9.375rem, 0);
  }
}
@media (min-width: 48em) {
  .search__input {
    -webkit-transform: translate(13.5rem, 0);
        -ms-transform: translate(13.5rem, 0);
            transform: translate(13.5rem, 0);
  }
}

.search-open .search__input {
  visibility: visible;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media (min-width: 48em) {
  .search-open .header__navigation {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

/* ====== Main Slider ====== */
.main__slider {
  position: relative;
}
.main__slider:not(:last-child) {
  margin-bottom: 3.125rem;
}
@media (min-width: 48em) {
  .main__slider:not(:last-child) {
    margin-bottom: 6.25rem;
  }
}

.slider__container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 2.5rem 0rem;
  padding: 4.375rem 0.9375rem 2.5rem;
  min-height: 100vh;
}
@media (min-width: 48em) {
  .slider__container {
    padding: 7.8125rem 0.9375rem 2.5rem;
  }
}
.slider__image {
  position: absolute;
  inset: 0 auto auto 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 0%;
  background-color: #212529;
  z-index: -1;
}
.slider__image img {
  position: absolute;
  inset: 0 auto auto 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
}
.slider__body {
  gap: 0.9375rem 0rem;
  max-width: 37.8125rem;
}
.slider__preview {
  max-width: 25.3125rem;
}
.slider__preview > *:not(:last-child) {
  margin-bottom: 0.3125rem;
}
.slider__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0rem 0.625rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  letter-spacing: 0.2em;
  color: #e5e5e5;
}
.slider__pages::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.75rem;
          flex: 0 0 2.75rem;
  width: 2.75rem;
  height: 0.0625rem;
  background-color: #F8F9FA;
}

/* ====== Main Articles ====== */
.main__articles:not(:last-child) {
  margin-bottom: 3.125rem;
}
@media (min-width: 61.875em) {
  .main__articles:not(:last-child) {
    margin-bottom: 6.25rem;
  }
}

.articles__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.articles__header:not(:last-child) {
  margin-bottom: 1.5625rem;
}
@media (min-width: 61.875em) {
  .articles__header:not(:last-child) {
    margin-bottom: 2.75rem;
  }
}
.articles__categories {
  font-weight: 500;
  line-height: 2.08;
  border-radius: 3px;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}
.articles__categories::after {
  content: "+";
  padding-left: 0.4375rem;
}
.articles__categories:active {
  color: #F8F9FA;
  background-color: rgba(33, 37, 41, 0.3019607843);
}
@media (any-hover: hover) {
  .articles__categories:hover {
    color: #F8F9FA;
    background-color: rgba(33, 37, 41, 0.3019607843);
  }
}
.articles__cards:not(:last-child), .articles__more:not(:last-child) {
  margin-bottom: 1.875rem;
}
@media (min-width: 61.875em) {
  .articles__cards:not(:last-child), .articles__more:not(:last-child) {
    margin-bottom: 3.75rem;
  }
}

.add-columns {
  display: none;
}
@media (min-width: 64em) {
  .add-columns {
    display: block;
  }
}
.add-columns__button {
  font-weight: 500;
  line-height: 2.08;
  color: rgba(73, 80, 87, 0.5019607843);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.add-columns__button:not(:last-child) {
  margin-right: 1.25rem;
}
.add-columns__button.active, .add-columns__button:active {
  color: #495057;
}
@media (any-hover: hover) {
  .add-columns__button:hover {
    color: #495057;
  }
}

.four-columns .cards {
  grid-template: auto/repeat(4, 1fr);
}
@media (min-width: 64em) and (max-width: 79.375em) {
  .four-columns .cards {
    gap: 1.5625rem 0.9375rem;
  }
  .four-columns .card > *:not(:last-child) {
    margin-bottom: 0.625rem;
  }
  .four-columns .card__header:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
  .four-columns .author {
    padding-top: 0.625rem;
  }
  .four-columns .card__title {
    font-size: 1.125rem;
  }
}

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.more__button {
  font-weight: 500;
  line-height: 2.08;
  text-transform: capitalize;
  color: #F8F9FA;
  min-width: 100%;
  min-height: 2.5rem;
  padding: 0.3125rem 0.625rem;
  background-color: #212529;
  border: 0.125rem solid #212529;
  border-radius: 0.1875rem;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}
@media (min-width: 26.5625em) {
  .more__button {
    min-width: 11.125rem;
  }
}
.more__button:active {
  color: #212529;
  background-color: #F8F9FA;
}
@media (any-hover: hover) {
  .more__button:hover {
    color: #212529;
    background-color: #F8F9FA;
  }
}

/* ====== Main Worldwide Articles ====== */
.main__worldwide-articles:not(:last-child) {
  margin-bottom: 3.125rem;
}
@media (min-width: 61.875em) {
  .main__worldwide-articles:not(:last-child) {
    margin-bottom: 6.25rem;
  }
}

.worldwide-articles__title {
  font-weight: 500;
  line-height: 1;
  color: #495057;
}
.worldwide-articles__title:not(:last-child) {
  margin-bottom: 1.875rem;
}
@media (min-width: 61.875em) {
  .worldwide-articles__title:not(:last-child) {
    margin-bottom: 3.75rem;
  }
}
.worldwide-articles__cards {
  display: grid;
  grid-template: auto/1fr;
  gap: 1.5625rem 0.9375rem;
}
@media (min-width: 26.5625em) {
  .worldwide-articles__cards {
    grid-template: auto/repeat(2, 1fr);
  }
}
@media (min-width: 37.5em) {
  .worldwide-articles__cards {
    grid-template: auto/repeat(3, 1fr);
  }
}
@media (min-width: 61.875em) {
  .worldwide-articles__cards {
    grid-template: auto/repeat(4, 1fr);
    gap: 2.8125rem 1.875rem;
  }
}
@media (min-width: 26.5625em) and (max-width: 57.8125em) {
  .worldwide-articles__cards .title_small {
    font-size: 1rem;
  }
}

/* ====== Main Featured Topics ====== */
@media (min-width: 48em) {
  .main__ft-topics {
    position: relative;
  }
}
.main__ft-topics:not(:last-child) {
  margin-bottom: 3.125rem;
}
@media (min-width: 61.875em) {
  .main__ft-topics:not(:last-child) {
    margin-bottom: 6.25rem;
  }
}

.ft-topics {
  background-color: #212529;
}
.ft-topics__container {
  padding: 3.125rem 0.9375rem 1.875rem 0.9375rem;
}
@media (min-width: 48em) {
  .ft-topics__container {
    padding: 3.125rem 0.9375rem;
  }
}
@media (min-width: 61.875em) {
  .ft-topics__container {
    padding: 6.25rem 0.9375rem;
  }
}
.ft-topics__body:not(:last-child) {
  margin-bottom: 3.125rem;
}
@media (min-width: 48em) {
  .ft-topics__body:not(:last-child) {
    margin-bottom: 0rem;
  }
}
@media (min-width: 48em) {
  .ft-topics__body {
    width: 23.125rem;
  }
}
@media (min-width: 53.75em) {
  .ft-topics__body {
    width: 25rem;
  }
}
@media (min-width: 58.4375em) {
  .ft-topics__body {
    width: 28.125rem;
  }
}
@media (min-width: 64em) {
  .ft-topics__body {
    width: 31.125rem;
  }
}
.ft-topics__title {
  font-weight: 500;
  line-height: 1;
}
.ft-topics__title:not(:last-child) {
  margin-bottom: 1.875rem;
}
@media (min-width: 61.875em) {
  .ft-topics__title:not(:last-child) {
    margin-bottom: 3.75rem;
  }
}
.ft-topics .title_small {
  font-size: 1rem;
}
@media (min-width: 37.5em) and (max-width: 47.99875em) {
  .ft-topics .title_small {
    font-size: 1.25rem;
  }
}
.ft-topics__cards > *:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (min-width: 28.75em) {
  .ft-topics__cards > *:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 58.4375em) {
  .ft-topics__cards > *:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 26.5625em) {
  .ft-topics__card {
    display: grid;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    grid-template: auto/36.345% 57.63%;
    gap: 0rem 0.9375rem;
  }
  .ft-topics__card > *:not(:last-child) {
    margin-bottom: 0rem;
  }
}
@media (min-width: 37.5em) and (max-width: 47.99875em) {
  .ft-topics__card {
    gap: 0rem 1.5625rem;
  }
}
@media (min-width: 58.4375em) {
  .ft-topics__card {
    gap: 0rem 1.875rem;
  }
}
.ft-topics__card .card__image {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  border-radius: 0.1875rem;
}
.ft-topics__card .card__image img {
  position: absolute;
  inset: 0 auto auto 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ft-topics__card .card__body > *:not(:last-child) {
  margin-bottom: 0.3125rem;
}
@media (min-width: 37.5em) and (max-width: 47.99875em) {
  .ft-topics__card .card__body > *:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
@media (min-width: 58.4375em) {
  .ft-topics__card .card__body > *:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.ft-topics__topics-more {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.125rem 0.9375rem;
  z-index: 1;
}
@media (min-width: 48em) {
  .ft-topics__topics-more {
    position: absolute;
    inset: 0 0 auto auto;
    width: 48.958%;
    height: 100%;
    padding: 0.9375rem;
  }
}

.topics-more > *:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.topics-more__title {
  text-align: center;
  max-width: 24.6875rem;
}
.topics-more__preview {
  text-align: center;
  text-shadow: 0rem 0rem 0.625rem #212529;
  max-width: 24.6875rem;
}
.topics-more__preview > *:not(:last-child) {
  margin-bottom: 0.3125rem;
}
.topics-more__image {
  position: absolute;
  inset: 0 0 auto auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 0%;
  z-index: -1;
}
.topics-more__image img {
  position: absolute;
  inset: 0 auto auto 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

/* ====== Footer ====== */
.footer {
  background-color: #212529;
}
.footer__container {
  min-height: 7.8125rem;
}
@media (min-width: 48em) {
  .footer__container {
    min-height: 12.8125rem;
  }
}
.footer__top, .footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.9375rem 1.25rem;
  padding: 1.25rem 0;
}
@media (min-width: 48em) {
  .footer__top, .footer__bottom {
    padding: 2.5rem 0;
  }
}
.footer__bottom {
  border-top: 0.0625rem solid rgba(229, 229, 229, 0.2);
}
.footer__logo {
  z-index: 0;
}
.footer__menu .menu__list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.3125rem 1.5625rem;
}
.footer__menu .menu__link {
  font-size: inherit;
}
.footer__address, .footer__rights {
  font-weight: 500;
  line-height: 1.67;
  color: rgba(248, 249, 250, 0.5019607843);
}
.footer__rights {
  text-transform: capitalize;
}