.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    min-width: 85px;
    min-height: 32px;
    border: 2px solid $main-black-color;
    transition: all ease-out 0.2s;

    &:active {
        color: $main-white-color;
        background-color: $main-black-color;
    }

    @media (any-hover: hover) {
        &:hover {
            color: $main-white-color;
            background-color: $main-black-color;
        }
    }

    @media (min-width: 425px) {
        font-weight: 500;
        font-size: 13px;
        min-width: 105px;
        min-height: 35px;
    }

    @media (min-width: 425px) {
        font-size: 16px;
        min-width: 125px;
        min-height: 45px;
    }

    @media (min-width: 1600px) {
        font-size: 18px;
        min-width: 175px;
        min-height: 56px;
    }

    &_gray {
        font-size: 14px;
        color: $secondary-font-color;
        min-width: 140px;
        min-height: 50px;
        border: 2px solid $main-border-color;

        &:active {
            color: $dark-gray;
            background-color: $main-white-color;
            border: 2px solid $secondary-font-color;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $dark-gray;
                background-color: $main-white-color;
                border: 2px solid $secondary-font-color;
            }
        }
    }
}

.sidebar {
    flex: 1 1 21.4%;
    padding-right: 30px;
    border-right: 1px solid $main-border-color;
    background-color: $main-white-color;
    z-index: 1;

    @media (max-width: 767.98px) {
        position: absolute;
        inset: 0 auto auto -195px;
        padding: 0 44px 0 14px;
        height: 100%;

        &__button {
            position: absolute;
            inset: 0 0 auto auto;
            width: 30px;
            height: 100%;
            margin: 0;
            background-color: $light-gray;
            border-right: 1px solid $main-border-color;

            &:active {
                border-right: 1px solid $secondary-font-color;
            }

            &::before {
                content: 'Sort';
                position: absolute;
                inset: 15px auto auto 0;
                font-size: 14px;
                line-height: 1;
                color: $secondary-font-color;
                text-transform: uppercase;
                transform: rotate(-90deg);
            }

            &::after {
                content: '>';
                position: absolute;
                inset: 50% auto auto 35%;
                font-size: 27px;
                line-height: 1;
                color: $secondary-font-color;
                text-transform: uppercase;
            }
        }
    }

    &__title {
        font-size: 24px;
        text-transform: capitalize;
    }

    &__form {
        @extend %display-flex-column;
        align-items: flex-start;
        gap: 20px 0;
    }

    &__row {
        display: flex;
        align-items: baseline;
        gap: 9px;
    }

    &__checkbox {
        position: relative;
        appearance: none;
        cursor: pointer;
        min-width: 10px;
        min-height: 10px;
        border: 1px solid $secondary-font-color;
        transition: all ease-out 0.2s;

        @media (any-hover: hover) {
            &:hover {
                border: 1px solid $dark-gray;
            }
        }

        &:checked {
            background-color: $main-black-color;
            border: 1px solid $main-black-color;
        }

        &::before {
            content: '';
            position: absolute;
            inset: 1px auto auto 0;
            min-width: 8px;
            min-height: 6px;
            opacity: 0;
            background: url('../img/icons/checkmark.svg') no-repeat;
        }

        &:checked::before {
            opacity: 1;
        }

        &:checked+.sidebar__label {
            color: $main-black-color;
        }
    }

    &__label {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        color: $dark-gray;
        cursor: pointer;
    }
}

@media (max-width: 767.98px) {
    .sidebar-open .sidebar {
        inset: 0 auto auto 0;
        width: 100%;
    }
}

.card {
    position: relative;
    overflow: hidden;
    @extend %display-flex-column;

    &__image {
        @include image-wrapper-relative ($padding-bottom: 130.81%);

        @media (any-hover: hover) {
            &:hover img {
                transform: scale(1.05);
                overflow: hidden;
            }
        }

        &:not(:last-child) {
            margin-bottom: 14px;
        }

        & img {
            @include image-position ($top: 0, $right: auto, $buttom: auto, $left: 0, $object-fit: cover);
            transition: transform ease-out 0.3s;
        }
    }

    &__discount {
        position: absolute;
        inset: 15px auto auto 0;
        padding: 0 5px;
        font-size: 14px;
        color: $main-white-color;
        background-color: $main-black-color;
        transition: background-color ease-out 0.2s;

        &:active {
            background-color: $red-color;
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: $red-color;
            }
        }
    }

    &__body {
        flex: 1 0 auto;

        &:not(:last-child) {
            margin-bottom: 18px;
        }
    }

    &__category {
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        color: #BDBDBD;
        transition: color ease-out 0.2s;

        &:active {
            color: $secondary-font-color;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $secondary-font-color;
            }
        }
    }

    &__title {
        font-weight: 300;
        font-size: 18px;
    }

    &__link {
        transition: color ease-out 0.2s;

        &:active {
            color: $secondary-font-color;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $secondary-font-color;
            }
        }
    }

    &__price {
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: baseline;
        gap: 2px 14px;
        font-weight: 500;
        font-size: 22px;
        text-transform: uppercase;

        &_new {
            color: $red-color;
        }
    }

    &__old-price {
        font-size: 14px;
        line-height: 1.7;
        text-transform: uppercase;
        text-decoration: line-through;
        color: $secondary-font-color;
    }
}