@use "sass:math";

// ====== Reset Styles ====== //
@import "_reset";

// ====== Patterns ====== //
@import "_variables";
@import "_mixins";
@import "_partials";

// ====== Common ====== //
@import "_common";

// ====== Font Family ====== //
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&family=Roboto:wght@300;400&display=swap');

/* ====== General Styles ====== */
body {
    font-family: 'Oswald', sans-serif;
    color: #000000;

    .wrapper {
        overflow: clip;
        min-height: 100%;
        display: flex;
        flex-direction: column;

        main {
            flex: 1 0 auto;
        }
    }

    [class*=__container] {
        max-width: 1908px;
        margin: 0 auto;
        padding: 0 14px;
    }
}

/* ====== Main Brands ====== */
.main {
    &__brands {
        padding-top: 30px;

        &:not(:last-child) {
            margin-bottom: 12px;

            @media (min-width: 560px) {
                margin-bottom: 30px;
            }
        }
    }
}

.brands {
    &__body {
        @media (min-width: 560px) {
            border: 2px solid #C4C4C4;
        }
    }

    &__title {
        display: none;

        @media (min-width: 560px) {
            display: block;
            padding: 0 95px;
            font-size: 24px;
            line-height: 1.875;
            text-align: center;
            text-transform: uppercase;
        }
    }

    &__list {
        display: grid;
        grid-template: 55px / repeat(2, 1fr);
        grid-auto-rows: 55px;
        gap: 10px 14px;

        @media (min-width: 560px) {
            justify-content: space-evenly;
            grid-template: 141px / repeat(auto-fit, 234px);
            grid-auto-rows: 141px;
            gap: 30px 35px;
            padding: 6px 11px 29px;
        }
    }
}

.list {
    &__item {
        @media (max-width: 559px) {
            border: 2px solid #C4C4C4;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transition: background-color 0.3s;

        & img {
            @media (max-width: 559px) {
                max-width: 66.187%;
                max-height: 34.54%;
            }
        }
    }

    &__item:active &__link {
        background-color: #F0F2F2;
    }

    @media (any-hover: hover) {
        &__item:hover &__link {
            background-color: #F0F2F2;
        }
    }
}

/* ====== Main Plates ====== */
.main {

    &__plates {
        &:not(:last-child) {
            margin-bottom: 15px;

            @media (min-width: 560px) {
                margin-bottom: 30px;
            }
        }
    }
}

.plates {
    &__items {
        display: grid;
        grid-template: repeat(3, minmax(142px, auto)) / 1fr;
        grid-auto-rows: minmax(142px, auto);
        margin: 0 -3px;
        gap: 6px;

        @media (min-width: 425px) {
            grid-template: repeat(3, minmax(200px, auto)) / 1fr;
            grid-auto-rows: minmax(200px, auto);
        }

        @media (min-width: 560px) {
            grid-template: repeat(3, minmax(250px, auto)) / 1fr;
            grid-auto-rows: minmax(250px, auto);
        }

        @media (min-width: 670px) {
            grid-template: repeat(3, minmax(300px, auto)) / 1fr;
            grid-auto-rows: minmax(300px, auto);
        }

        @media (min-width: 830px) {
            grid-template: repeat(3, minmax(350px, auto)) / 1fr;
            grid-auto-rows: minmax(350px, auto);
            gap: 12px;
        }

        @media (min-width: 980px) {
            grid-template: repeat(2, minmax(300px, auto)) / repeat(2, 1fr);
            grid-auto-rows: minmax(300px, auto);
        }

        @media (min-width: 1440px) {
            grid-template: repeat(2, minmax(440px, auto)) / repeat(2, 1fr);
            grid-auto-rows: minmax(440px, auto);
            gap: 24px;
        }
    }

    &__item {
        position: relative;
        display: flex;
        padding: 15px 5px 15px 30px;
        overflow: hidden;
        border: 3px solid #ffffff;
        outline: 1px solid transparent;
        transition: outline 0.3s ease-out;

        &:active {
            outline: 1px solid #C4C4C4;
        }

        @media (any-hover: hover) {
            &:hover {
                outline: 1px solid #C4C4C4;
            }
        }

        @media (min-width: 560px) {
            padding: 15px 34px 15px 50px;
        }

        @media (min-width: 1600px) {
            padding: 15px 64px 15px 94px;
        }

        &_content-right {
            justify-content: flex-end;
        }

        &_big {
            grid-row: span 2;
            padding-bottom: 34px;

            @media (min-width: 560px) {
                padding: 15px 34px 70px 50px;
            }

            @media (min-width: 1600px) {
                padding: 15px 64px 103px 86px;
            }
        }
    }
}

.item {

    &__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex: 0 0 48.28%;

        &_content-bottom {
            justify-content: end;
        }
    }

    &__title {
        font-weight: 600;
        line-height: 1.19;
        text-transform: uppercase;

        @media (min-width: 425px) {
            font-size: 28px;
            line-height: 1.29;
        }

        @media (min-width: 768px) {
            font-size: 34px;
        }

        @media (min-width: 980px) and (max-width: 1439.98px) {
            font-size: 30px;
        }

        @media (min-width: 1600px) {
            font-size: 48px;
        }

        &:not(:last-child) {
            margin-bottom: 4px;

            @media (min-width: 560px) {
                margin-bottom: 7px;
            }
        }

        &_wrap {
            max-width: 74.28%;

            @media (min-width: 1600px) and (max-width: 1823px) {
                max-width: 100%;
            }
        }

        &_big {
            font-size: 26px;
            line-height: 1.12;
            max-width: 72.38%;

            @media (min-width: 425px) {
                font-size: 46px;
                line-height: 1.145;
                max-width: 95%;
            }

            @media (min-width: 768px) {
                font-size: 76px;
                max-width: 100%;
            }

            @media (min-width: 980px) and (max-width: 1439.98px) {
                font-size: 50px;
            }

            @media (min-width: 1600px) {
                font-size: 96px;
            }
        }
    }

    &__text {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 10px;
        line-height: 1.68;
        letter-spacing: 0.01em;

        @media (min-width: 425px) {
            font-size: 14px;
        }

        @media (min-width: 768px) {
            font-size: 18px;
        }

        @media (min-width: 980px) and (max-width: 1439.98px) {
            font-size: 16px;
        }

        @media (min-width: 1600px) {
            font-size: 22px;
        }

        &:not(:last-child) {
            margin-bottom: 10px;

            @media (min-width: 560px) {
                margin-bottom: 20px;
            }

            @media (min-width: 768px) {
                margin-bottom: 30px;
            }

            @media (min-width: 1600px) {
                margin-bottom: 50px;
            }
        }
    }

    &__button {
        z-index: 1;

        &:not(:last-child) {
            margin-bottom: 10px;

            @media (min-width: 560px) {
                margin-bottom: 20px;
            }

            @media (min-width: 768px) {
                margin-bottom: 30px;
            }

            @media (min-width: 1600px) {
                margin-bottom: 50px;
            }
        }
    }

    &__gradient {
        position: absolute;
        inset: 0 auto auto 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &_gray {
            background: linear-gradient(270deg, #f1eff000 40%, #F1F0F0 45.79%, #F3F0EF 98.67%);

            &_right {
                background: linear-gradient(90deg, #f1eff000 40%, #F1F0F0 45.79%, #F3F0EF 98.67%);
            }
        }

        &_khaki {
            background: linear-gradient(90deg, #E0DED3 0%, #e0ddd5 10%, #e0ddd500 20%, #e0ddd500 100%);

            &_right {
                background: linear-gradient(270deg, #E0DED3 0%, #E0DDD5 10%, #e0ddd500 20%, #e0ddd500 100%);
            }
        }

        &_pink {
            background: linear-gradient(90deg, #F7E0D5 0%, #F3DCD2 40.85%, #f3dcd200 50%, #f3dcd200 100%);

            &_right {
                background: linear-gradient(270deg, #F7E0D5 0%, #F3DCD2 40.85%, #f3dcd200 50%, #f3dcd200 100%);
            }
        }
    }

    &__image {
        @include image-wrapper-position ($position: absolute, $padding-bottom: 47.388%);

        & img {
            @include image-position ($right: 0, $left: auto);
            z-index: -2;
        }

        &_small {
            & img {
                width: 46.96%;
            }
        }

        &_left {
            & img {
                inset: 0 auto auto 0;
            }
        }

        &_big {
            padding-bottom: 97.36%;

            & img {
                width: 90.8%;
            }
        }

        &_medium {
            & img {
                width: 60.28%;
            }
        }
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 10px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    min-width: 85px;
    min-height: 32px;
    border: 2px solid #000;
    transition: color ease-out 0.2s, background-color ease-out 0.2s;

    @media (min-width: 425px) {
        font-weight: 500;
        font-size: 13px;
        min-width: 105px;
        min-height: 35px;
    }

    @media (min-width: 425px) {
        font-size: 16px;
        min-width: 125px;
        min-height: 45px;
    }

    @media (min-width: 1600px) {
        font-size: 18px;
        min-width: 175px;
        min-height: 56px;
    }

    &:active {
        color: #ffffff;
        background-color: #000000;
    }

    @media (any-hover: hover) {
        &:hover {
            color: #ffffff;
            background-color: #000000;
        }
    }
}


/* ====== Main Shop Wear ====== */
.main {

    &__shop-wear {}
}

.shop-wear {

    &__container {
        display: flex;
    }

    &__sidebar {
        flex: 1 1 21.4%;
        border-right: 1px solid #C4C4C4;
    }

    &__content {
        flex: 1 1 78.6%;
        padding-left: 30px;
        @extend %display-flex-column;
        gap: 63px 0;
    }

    &__items {
        display: grid;
        grid-template: minmax(548px, auto) / repeat(4, 1fr);
        grid-auto-rows: minmax(548px, auto);
        gap: 48px 26px;
    }

    &__item {
        position: relative;
        @extend %display-flex-column;
        align-items: flex-start;
        gap: 14px 0;
        min-height: 100%;
    }

    &__image {
        @include image-wrapper-position ($padding-bottom: 130.81%);

        & img {
            display: block;
            @include image-position ($top: 0, $right: auto, $buttom: auto, $left: 0, $object-fit: cover);
        }
    }

    &__discount {
        position: absolute;
        inset: 0 auto auto 0;
    }

    &__body {
        flex: 1 0 auto;
    }

    &__category {}

    &__title {}

    &__link {}

    &__price {}

    &__old-price {}

    &__more {
        align-self: center;
    }

    &__button {}
}

.sidebar {

    &__title {
        font-size: 24px;
        line-height: 1.63;
        text-transform: capitalize;
    }

    &__form {
        @extend %display-flex-column;
    }

    &__item {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 1.63;
        text-transform: uppercase;
        color: #3F3F3F;
    }

    &__checkbox {}
}

.price {

    &_new {}
}

.button {

    &_gray {}
}