@import url('reset.css');
@import url("common.css");

/* Main styles */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #3F3F3F;
}

main {
    flex: 1 0 auto;
}

input[type='checkbox'],
input[type='radio'],
input[type='range'],
select {
    appearance: none;
    cursor: pointer;
}

select {
    font: inherit;
    color: inherit;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

[class*='__container'] {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.main__forms {
    padding-bottom: 50px;
}

.forms__container {
    display: flex;
}

.forms__container:not(:last-child) {
    margin-bottom: 100px;
}

/* Shipping form */

.shipping {
    flex: 0 0 50.35%;
}

.shipping:not(:last-child) {
    padding-right: 104px;
}

.shipping__title {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    line-height: 2.83;
    text-transform: capitalize;
    color: #000000;
}

.shipping__title:not(:last-child) {
    margin-bottom: 14px;
}

.shipping__form:not(:last-child) {
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 39px;
    padding-bottom: 36px;
}

.shipping__lines {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.shipping__lines:not(:last-child) {
    margin-bottom: 12px;
}

.shipping__lines_double-margin:not(:last-child) {
    margin-bottom: 24px;
}

.shipping__line {
    display: flex;
    justify-content: space-between;
}

.shipping__line_border-top {
    border-top: 1px solid #C4C4C4;
}

.shipping__line_border-top:not(:last-child) {
    margin-bottom: 24px;
}

.shipping__login>*:not(:last-child) {
    margin-right: 25px;
}

.shipping__label {
    flex: 0 0 25.58%;
    padding-right: 10px;
    text-transform: capitalize;
}

.shipping__label span {
    color: #EB5757;
}

.shipping__input,
.shipping__select {
    flex: 0 0 74.42%;
    height: 44px;
    padding: 0 30px 0 16px;
    border: 1px solid #C4C4C4;
}

.shipping__input:focus,
.shipping__select:focus {
    outline: none;
    border: 2px solid #C4C4C4;
}

.shipping__inputs {
    display: flex;
    flex-direction: column;
    flex: 0 0 74.42%;
    row-gap: 13px;
}

.shipping__column-input {
    height: 44px;
    padding: 0 30px 0 16px;
    border: 1px solid #C4C4C4;
}

.shipping__column-input:focus {
    outline: none;
    border: 2px solid #C4C4C4;
}

.shipping__text {
    font-size: 14px;
    line-height: 1.43;
    color: #828282;
}

.shipping__text:not(:last-child) {
    margin-bottom: 24px;
}

.shipping__button {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000000;
    min-width: 120px;
    min-height: 50px;
    padding: 10px;
    transition: background-color 0.3s;
}

.shipping__button:hover {
    background-color: #EB5757;
}

.shipping__button:active {
    background-color: #000000;
}

.shipping__button_transparent {
    color: #828282;
    background-color: transparent;
    min-width: fit-content;
    min-height: fit-content;
    padding: 0;
    transition: color 0.3s;
}

.shipping__button_transparent:hover {
    background-color: transparent;
    color: #3F3F3F;
}

.shipping__button_transparent:active {
    background-color: transparent;
    color: #828282;
}

.shipping__link {
    font-size: 14px;
    line-height: 1.43;
    color: #0F6DB1;
    text-transform: capitalize;
    border-bottom: 1px solid transparent;
    transition: color 0.3s, border 0.3s;
}

.shipping__link:hover {
    color: #0095ff;
    border-bottom: 1px solid currentColor;
}

.shipping__link:active {
    color: #0F6DB1;
}

.shipping__select {
    background: url('../img/icons/shipping-select.svg') right 15px top 50% no-repeat;
}

.shipping__radio {
    flex: 0 1 73.1%;
}

.shipping__item-radio {
    display: flex;
    align-items: center;
    min-height: 44px;
}

.shipping__item-radio:not(:last-child) {
    border-bottom: 1px solid #C4C4C4;
}

.shipping__main-radio {
    display: flex;
    align-items: center;
    flex: 1 1 39.5%;
}

.shipping__input-radio {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #828282;
    transition: border 0.3s;
}

.shipping__input-radio:hover {
    border: 1px solid #3F3F3F;
}

.shipping__input-radio:hover+.shipping__label-radio {
    color: #3F3F3F;
}

.shipping__input-radio:checked {
    border: 3px solid #000000;
}

.shipping__input-radio:checked+.shipping__label-radio {
    color: #000000;
}

.shipping__main-radio:not(:last-child),
.shipping__label-radio:not(:last-child),
.shipping__comparison-radio:not(:last-child),
.shipping__comparison-radio>li:not(:last-child) {
    margin-right: 13px;
}

.shipping__label-radio {
    padding: 2px 0 0 13px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #828282;
    cursor: pointer;
    transition: color 0.3s;
}

.shipping__comparison-radio {
    display: flex;
    align-items: center;
    flex: 1 1 57.56%;
    font-size: 14px;
    line-height: 1.43;
}

.shipping__comparison-radio>li {
    flex: 1 1 121px;
    text-transform: capitalize;
}

/* Billing form */

.billing {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: #637381;
    flex: 0 0 49.64%;
    padding-top: 20px;
}

.billing__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    text-transform: capitalize;
    color: #212B36;
}

.billing__title:not(:last-child) {
    margin-bottom: 30px;
}

.billing__form:not(:last-child) {
    margin-bottom: 55px;
}

.billing__main-inputs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;
    row-gap: 30px;
}

.billing__main-inputs:not(:last-child) {
    margin-bottom: 35px;
}

.billing__item {
    flex: 0 0 50%;
    padding: 0 14px;
}

.billing__input,
.billing__select {
    width: 100%;
    min-height: 54px;
    padding: 0 40px 0 25px;
    border: 1px solid #E7E7E7;
    border-radius: 7px;
    text-transform: capitalize;
}

.billing__input:focus,
.billing__select:focus,
.billing__textarea:focus,
.coupon__input:focus {
    outline: none;
    border: 1px solid #3056D3;
}

.billing__select {
    background: url('../img/icons/billing-select.svg') right 21px top 50% no-repeat;
}

.billing__message {
    padding: 0 14px;
    flex: 0 0 100%;
}

.billing__textarea {
    width: 100%;
    min-height: 180px;
    padding: 25px;
    border: 1px solid #E7E7E7;
    border-radius: 7px;
    resize: none;
}

.billing__checkbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 25px;
}

.billing__checkbox:not(:last-child) {
    margin-bottom: 35px;
}

.billing__label {
    position: relative;
    display: flex;
    gap: 14px;
}

.billing__label:hover {
    cursor: pointer;
}

.billing__label_capital {
    text-transform: capitalize;
}

.billing__check {
    width: 22px;
    height: 22px;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    transition: border 0.3s;
}

.billing__check:hover {
    border: 1px solid #637381;
}

.billing__check::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 5px;
    width: 12px;
    height: 8px;
    opacity: 0;
    background: url('../img/icons/billing-checkmark.svg') no-repeat;
    transition: opacity 0.3s;
}

.billing__check:checked::before {
    opacity: 1;
}

.billing__coupon>*:not(:last-child) {
    margin-bottom: 25px;
}

.coupon__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    color: #212B36;
}

.coupon__row {
    display: flex;
    gap: 20px;
}

.coupon__input {
    flex: 0 1 325px;
    min-height: 48px;
    padding: 0 25px;
    border: 1px solid #E7E7E7;
    border-radius: 7px;
}

.coupon__button {
    min-width: 135px;
    min-height: 48px;
    background-color: #212B36;
    border-radius: 5px;
    font-weight: 600;
    text-transform: capitalize;
    color: #FFFFFF;
    transition: background-color 0.3s;
}

.coupon__button:hover {
    background-color: #637381;
}

.coupon__button:active {
    background-color: #212B36;
}

/* Training form */

.training__container {
    font-family: serif;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    max-width: 730px;
    margin: 0 auto;
    padding: 15px 15px 0;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.training__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    text-transform: capitalize;
    color: #888888;
    text-align: center;
}

.training__form {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.training__form_search {
    margin: 0 15px;
}

.training__search {
    position: relative;
    min-height: 50px;
    padding: 0 15px;
    color: #888888;
    border: 2px solid #cacaca;
    border-radius: 3px;
    background-color: transparent;
}

.training__search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    content: url('../img/icons/search-cross.svg');
    height: 15px;
    width: 15px;
    cursor: pointer;
    transition: transform 0.3s;
}

.training__search::-webkit-search-cancel-button:hover {
    transform: scale(1.1);
}

.training__checkbox {
    position: relative;
    width: 50px;
    height: 30px;
    margin-left: 81px;
    background-color: #383838;
    border: 2px solid #131313;
    border-radius: 20px;
    transition: border 0.3s;
    z-index: 10;
}

.training__checkbox:checked {
    background-color: #ffa600;
    border: 2px solid #8f4500;
}

.training__checkbox:checked+.training__toggle-block {
    background-color: #ffffff;
}

.training__checkbox:checked+div+.training__main {
    color: #212B36;
    background-color: #ffffff;
}

.training__checkbox:checked+div+.training__main>.training__row>.training__label>.training__date {
    background-color: #cacaca;
}

.training__checkbox:checked+div+.training__main>.training__row>.training__age {
    background-color: #ffffff;
}

.training__checkbox:checked+div+.training__main>.training__row>.training__label>.training__file::-webkit-file-upload-button {
    color: #cacaca;
    border: 2px solid #282C34FF;
    background-color: #282C34FF;
}

.training__checkbox:checked+div+.training__main>.training__row>.training__label>.training__file::-webkit-file-upload-button:hover {
    color: #ffffff;
    border: 2px solid #131416;
    background-color: #131416;
}

.training__checkbox:checked+div+.training__main>.training__row>.training__label>.training__file::-webkit-file-upload-button:active {
    color: #cacaca;
    border: 2px solid #282C34FF;
    background-color: #282C34FF;
}

.training__checkbox:checked+div+.training__main>.training__textarea {
    color: #212B36;
    background-color: #ffffff;
}

.training__checkbox:checked+div+.training__main>.training__row>.training__button {
    color: #cacaca;
    background-color: #282C34FF;
}

.training__checkbox:checked+div+.training__main>.training__row>.training__button:hover {
    color: #ffffff;
    background-color: #131416;
}

.training__checkbox:checked+div+.training__main>.training__row>.training__button:active {
    color: #cacaca;
    background-color: #282C34FF;
}

.training__checkbox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #474747;
    transition: background-color 0.2s;
}

.training__checkbox:checked::before {
    left: 20px;
    background-color: #fff3af;
}

.training__toggle-block {
    position: absolute;
    top: 0px;
    left: 15px;
    width: 700px;
    height: 250px;
    background-color: #282C34FF;
    border-radius: 3px;
    z-index: -1;
    transition: background-color 0.3s;
}

.training__main {
    color: #cacaca;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 0 15px 25px 15px;
    background-color: #282C34FF;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.label-checkbox {
    position: relative;
    transition: color 0.3s;
}

.label-checkbox>span {
    position: absolute;
    top: -49px;
    left: 0;
}

.label-checkbox>span+span {
    position: absolute;
    left: 122px;
}

.training__row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.training__label {
    transition: color 0.3s;
}

.training__range {
    height: 5px;
    margin-left: 5px;
    background-color: #414141;
    border-radius: 3px;
    vertical-align: middle;
}

.training__range::-webkit-slider-thumb {
    appearance: none;
    cursor: pointer;
    height: 20px;
    width: 5px;
    background: #888888;
    box-shadow: 1px 1px 1px #222222;
    border-radius: 3px;
}

.training__range::-moz-range-thumb {
    appearance: none;
    cursor: pointer;
    height: 20px;
    width: 5px;
    background: #888888;
    box-shadow: 1px 1px 1px #222222;
    border-radius: 3px;
}

.training__color {
    vertical-align: middle;
    margin-left: 5px;
    border-radius: 3px;
    background-color: #cacaca;
}

.training__date {
    margin-left: 5px;
    cursor: pointer;
    padding: 0 5px;
    border: 2px solid #cacaca;
    border-radius: 3px;
    background-color: #282C34FF;
    transition: background-color 0.3s;
}

.training__date::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.training__age {
    min-height: 30px;
    padding-left: 15px;
    border: 2px solid #cacaca;
    border-radius: 3px;
    background-color: #282C34FF;
    transition: background-color 0.3s, color 0.3s;
}

.training__file {
    max-width: 102px;
    min-height: 30px;
    margin-left: 5px;
}

.training__file::-webkit-file-upload-button {
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
    min-height: 30px;
    color: #282C34FF;
    border: 2px solid #cacaca;
    border-radius: 3px;
    background-color: #cacaca;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.training__file::-webkit-file-upload-button:hover {
    color: #131416;
    border: 2px solid #ffffff;
    background-color: #ffffff;
}

.training__file::-webkit-file-upload-button:active {
    color: #282C34FF;
    border: 2px solid #cacaca;
    background-color: #cacaca;
}

.training__textarea {
    resize: vertical;
    padding: 15px;
    border: 2px solid #cacaca;
    border-radius: 3px;
    background-color: #282C34FF;
    transition: background-color 0.3s, color 0.3s;
}

.training__button {
    min-width: 100px;
    min-height: 40px;
    padding: 5px 10px;
    color: #282C34FF;
    border-radius: 3px;
    background-color: #cacaca;
    transition: background-color 0.3s;
}

.training__button:hover {
    color: #131416;
    background-color: #ffffff;
}

.training__button:active {
    color: #282C34FF;
    background-color: #cacaca;
}
