/* Reset styles */
@import url('reset.css');

/* Main styles */

body {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #637381;
}

[class*='__container'] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.66;
    color: #faf8f8;
    background: #212529 url('../img/header/header-bg.png') center / cover no-repeat;
    border-radius: 0px 5px 5px 0px;
}

.header__container,
.footer__container {
    max-width: 1270px;
    padding: 40px 15px;
}

.heder__top {
    margin-bottom: 269px;
}

.header__logo {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    text-transform: uppercase;
    margin-right: 834px;
}

.header__logo span {
    color: #DDBEA9;
}

.header__nav,
.header__nav>li {
    display: inline-block;
    font-size: 0;
}

.header__nav>li>a {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 2.08;
    color: #f8f9fa80;
}

.header__nav>li:not(:last-child) {
    margin-right: 25px;
}

.header__nav>li>a:hover {
    color: inherit;
}

.header__nav>li:not(:last-child)>a:active {
    color: #212529;
    background: #f8f9fa80;
}

.header__nav>li:not(:last-child)>a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #DDBEA9;
    visibility: hidden;
}

.header__nav>li>a:hover::after {
    visibility: visible;
}

.header__nav>li:nth-child(2)>a::after,
.header__nav>li:nth-child(3)>a::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 5px;
    background: url('../img/header/arrow-down.svg');
    opacity: 0.5;
    margin-left: 5px;
    visibility: visible;
}

.header__nav>li:nth-child(2)>a:hover::after,
.header__nav>li:nth-child(3)>a:hover::after {
    opacity: 1;
}

.header__nav>li:nth-child(2)>a:active::after,
.header__nav>li:nth-child(3)>a:active::after {
    background: url('../img/header/arrow-down-active.svg');
}

.header__nav>li:last-child::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 25px;
    background: #f8f9fa80;
    vertical-align: top;
    margin-right: 25px;
}

.header__nav>li:last-child>a::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('../img/header/search.svg');
    vertical-align: middle;
    opacity: 0.5;
}

.header__nav>li:last-child>a:hover::after {
    opacity: 1;
}

.header__nav>li:last-child>a:active::after {
    background: url('../img/header/search-active.svg');
}

.header__text-block {
    max-width: 605px;
    margin-bottom: 40px;
}

.header__text-block>p {
    color: #E5E5E5;
    margin-bottom: 15px;
}

.header__text-block h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.header__text-block h2 span {
    text-transform: lowercase;
}

.header__text-block>*:last-child {
    margin-bottom: 0;
}

.header__pages p {
    letter-spacing: 2.5px;
    color: #E5E5E5;
    text-align: right;
}

.header__pages p::before {
    content: '';
    display: inline-block;
    width: 44px;
    height: 1px;
    background: #F8F9FA;
    vertical-align: middle;
    margin-right: 10px;
}

.main__slider {
    background: #F4F7FF linear-gradient(115deg, #3056D300 63.8%, #3056D314 63.8%,
            #3056D30F 68.8%, #3056D31F 68.8%,
            #3056d317 71%, #3056d300 100%);
}

.slider__container {
    padding: 81px 15px 83px;
}

.slider__text-block {
    display: inline-block;
    max-width: 570px;
    margin-right: 177px;
    vertical-align: middle;
}

.slider__text-block>*:last-child {
    margin-bottom: 0;
}

.slider__text-block p {
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 13px;
}

.slider__text-block p span {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: #3056D3;
    text-transform: capitalize;
}

.slider__text-block h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    color: #212B36;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.slider__text-block h2+p {
    margin-bottom: 35px;
}

.slider__text-block a {
    display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    color: #FFFFFF;
    text-transform: capitalize;
    background: #3056D3;
    padding: 10px 30px;
    border-radius: 30px;
    margin-bottom: 35px;
}


.slider__image-box {
    display: inline-block;
    vertical-align: middle;
}

.slider__image-box img {
    width: 272px;
    height: 396px;
}

.lists__container {
    padding: 150px 15px;
}

.lists__block:not(:last-of-type) {
    margin-bottom: 100px;
}

.lists__block>h3 {
    font-weight: 400;
    font-size: 26px;
    line-height: 1.07;
    color: #212B36;
    margin-bottom: 45px;
}

.lists__block>ol,
.lists__block>ul {
    display: inline-block;
    width: 350px;
    vertical-align: top;
}

.lists__block>ol:not(:nth-of-type(3n)),
.lists__block>ul:not(:nth-of-type(3n)) {
    margin-right: 35px;
}

.lists__block>ol:nth-last-of-type(n+4),
.lists__block>ul:nth-last-of-type(n+4) {
    margin-bottom: 60px;
}

.lists__block>ol>li:not(:last-child) {
    margin-bottom: 18px;
}

.lists__block>ol {
    counter-reset: item;
}

.lists__block>ol>li {
    margin-left: 35px;
    line-height: 1.56;
}

.lists__block>ol:last-of-type>li {
    margin: 0 0 12px 47px;
    line-height: 2.18;
}

.lists__block>ol:last-of-type>li:last-child {
    margin-bottom: 0;
}

.lists__block>ol>li::before {
    counter-increment: item;
    content: counter(item);
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #3056D3;
    border-radius: 3px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 10px 0 -35px;
}

.lists__block>ol:first-of-type>li::before {
    border-radius: 50%;
}

.lists__block>ol:last-of-type>li::before {
    width: 35px;
    height: 35px;
    background: url('../img/main/lists/ordered/blue-rombus.svg') no-repeat;
    padding-right: 1px;
    margin: 0 12px 0 -47px;
}

.lists__block>ul:not(:first-of-type)>li {
    margin-left: 30px;
    line-height: 1.56;
}

.lists__block>ul:first-of-type>li {
    margin-left: 18px;
}

.lists__block>ul>li:not(:last-child) {
    margin-bottom: 14px;
}

.lists__block>ul>li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../img/main/lists/unordered/blue-checkmark-circle.svg') no-repeat;
    margin: 0 10px 4px -30px;
    vertical-align: middle;
}

.lists__block>ul:first-of-type>li::before {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #3056D3;
    margin: 0 10px 4px -18px;
}

.lists__block>ul:nth-of-type(3)>li::before {
    background: url('../img/main/lists/unordered/green-checkmark-circle.svg') no-repeat;
}

.lists__block>ul:nth-of-type(4)>li::before {
    background: url('../img/main/lists/unordered/red-cross-circle.svg') no-repeat;
}

.lists__block>ul:nth-of-type(5)>li::before {
    background: url('../img/main/lists/unordered/blue-arrow-right.svg') no-repeat;
}

.lists__block>ul:nth-of-type(6)>li {
    margin-left: 28px;
}

.lists__block>ul:nth-of-type(6)>li::before {
    width: 18px;
    height: 18px;
    background: url('../img/main/lists/unordered/blue-star.svg') no-repeat;
    margin-left: -28px;
}

.footer {
    background: #212529;
}

.footer__lists-block {
    text-align: center;
}

.footer__lists-block>ul {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid transparent;
}

.footer__lists-block>ul:not(:last-of-type) {
    margin-right: 50px;
}

.footer__lists-block>ul:target {
    border: 2px solid #DDBEA9;
}

.footer__lists-block>ul>li {
    background: #00000091;
}

.footer__lists-block>ul>li:hover {
    color: #ffffff;
    opacity: 0.5;
}

.footer__lists-block>ul>li:active {
    opacity: 1;
}

.footer__lists-block>ul:not(:first-of-type):nth-of-type(odd)>li:nth-of-type(odd) {
    background: #474747;
}

.footer__lists-block>ul:nth-of-type(even)>li:nth-of-type(even) {
    background: #474747;
}

.footer__lists-block>ul>li:not(:last-of-type) {
    margin-bottom: 1px;
}

.footer__lists-block>ul>li>a {
    display: inline-block;
    width: 200px;
    height: 30px;
    text-align: center;
    line-height: 1.9;
}

.footer__lists-block>ul:first-of-type>li>a:focus {
    outline: 2px solid #DDBEA9;
}

.footer__lists-block>ul:not(:first-of-type)>li>a:visited {
    color: #4c2f72;
}