/* ====== Logo ====== */
.logo {
    font-weight: 700;
    font-size: rem(18);
    line-height: 1.39;
    text-transform: uppercase;
    color: $whiteColor;
    cursor: pointer;
    z-index: 3;

    & span {
        text-transform: none;
    }

    &::after {
        content: '.';
        color: $beigeColor;
    }
}

/* ====== Menu Burger ====== */
.menu-icon {
    display: none;

    @media (max-width: em(767.98)) {
        display: block;
        position: relative;
        inset: 0 auto auto 0;
        flex: 0 0 rem(30);
        width: rem(30);
        height: rem(19);
        z-index: 1;

        &::before,
        &::after,
        & span {
            content: '';
            position: absolute;
            inset: 0 auto auto 0;
            width: 100%;
            height: rem(1);
            background-color: $whiteOpacityColor;
            transition: all 0.3s;
        }

        &::after {
            inset: auto auto 0 0;
        }

        & span {
            inset: 50% auto auto 0;
        }
    }
}

.menu-open {
    & body {
        overflow: hidden;
    }

    & .menu-icon {
        &::before {
            inset: 50% auto auto 0;
            transform: translateY(-50%) rotate(-45deg);
        }

        &::after {
            inset: auto auto 50% 0;
            transform: translateY(50%) rotate(45deg);
        }

        & span {
            width: 0;
            inset: 50% auto auto 50%;
        }
    }

    & .menu__body {
        inset: 0 auto auto 0;

        &::before {
            inset: 0 auto auto 0;
        }
    }
}

/* ====== Title ====== */
.title {
    font-weight: 700;
    font-size: rem(25);
    line-height: 1.6;
    color: $darkGrayColor;

    &_white {
        color: $whiteColor;
    }

    &_small {
        font-weight: 500;
        font-size: rem(16);
        line-height: 1.56;
    }

    &__link {
        transition: color 0.3s;

        &:active {
            color: $goldColor;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $goldColor;
            }
        }
    }
}

/* ====== Cards ====== */
.cards {
    display: grid;
    grid-template: auto / 1fr;
    gap: rem(25) rem(15);

    @media (min-width: em(425)) {
        grid-template: auto / repeat(2, 1fr);
    }

    @media (min-width: em(600)) {
        grid-template: auto / repeat(3, 1fr);
    }

    @media (min-width: em(990)) {
        gap: rem(45) rem(30);
    }
}

.card {
    @extend %display-flex-column;

    &>*:not(:last-child) {
        margin-bottom: rem(10);

        @media (min-width: em(990)) {
            margin-bottom: rem(15);
        }
    }

    &__header {
        position: relative;
        background-color: $secondaryLightGrayColor;
        border-radius: rem(3);
        overflow: hidden;
        transition: background-color 0.3s;

        &:not(:last-child) {
            margin-bottom: rem(15);

            @media (min-width: em(990)) {
                margin-bottom: rem(30);
            }
        }

        &:active {
            background-color: $darkGrayColor;
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: $darkGrayColor;
            }
        }
    }

    &__category {
        position: absolute;
        inset: 12% 7.63% auto auto;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: rem(64);
        min-height: rem(25);
        padding: rem(3) rem(12) rem(2);
        border-radius: rem(3);
        font-weight: 700;
        font-size: rem(8);
        line-height: 2.5;
        text-transform: uppercase;
        color: $whiteColor;
        background-color: $darkGrayOpacityColor;
        z-index: 1;
        transition: background-color 0.3s;

        @media (any-hover: hover) {
            &:hover {
                background-color: $darkGrayColor;
            }
        }
    }

    &__image {
        display: block;
        @include image-wrapper-relative ($padding-bottom: 63.61%);

        & img {
            @include image-position ($top: 0, $right: auto, $buttom: auto, $left: 0, $object-fit: cover);
            transition: filter 0.3s;

            &:active {
                filter: opacity(0.5);
            }

            @media (any-hover: hover) {
                &:hover {
                    filter: opacity(0.5);
                }
            }
        }
    }

    &__title {
        @media (min-width: em(425)) and (max-width: em(925)) {
            font-size: rem(18);
        }
    }

    &__preview {
        flex: 1 1 auto;
    }
}

.author {
    padding-top: rem(10);
    border-top: rem(1) solid $lightGrayColor;

    @media (min-width: em(990)) {
        padding-top: rem(15);
    }

    &__link {
        position: relative;
        border-bottom: rem(1) solid transparent;
        transition: color 0.3s;

        &::after {
            content: '';
            position: absolute;
            inset: auto auto rem(1) 0;
            width: 100%;
            height: rem(1);
            background-color: currentColor;
            opacity: 0;
            transition: opacity 0.3s;
        }

        &:active,
        &:active::after {
            color: $darkGrayColor;
            opacity: 1;
        }

        @media (any-hover: hover) {

            &:hover,
            &:hover::after {
                opacity: 1;
                color: $darkGrayColor;
            }
        }
    }
}