$whiteColor: #F8F9FA;
$whiteOpacityColor: #f8f9fa80;
$lightGrayColor: #e5e5e5;
$lightGrayOpacityColor: #e5e5e533;
$secondaryLightGrayColor: #C4C4C4;
$grayColor: #495057;
$grayOpacityColor: #49505780;
$darkGrayColor: #212529;
$darkGrayOpacityColor: #2125294d;
$beigeColor: #DDBEA9;
$goldColor: #CCD5AE;