@use "sass:math";

// ====== Reset Styles ====== //
@import "_reset";

// ====== Patterns ====== //
@import "_functions";
@import "_variables";
@import "_mixins";
@import "_partials";

// ====== Common ====== //
@import "_common";

// ====== Blog Page ====== //
@import "_blog";

// ====== Font Family ====== //
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

/* ====== General Styles ====== */
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: rem(12);
    line-height: 1.67;
    color: $grayColor;
    background-color: $whiteColor;

    .wrapper {
        position: relative;
        @extend %display-flex-column;
        min-height: 100%;
        overflow: clip;

        main {
            flex: 1 0 auto;

            &:not(:last-child) {
                margin-bottom: rem(50);

                @media (min-width: em(990)) {
                    margin-bottom: rem(100);
                }
            }
        }
    }
}

[class*=__container] {
    max-width: rem(1270);
    margin: 0 auto;
    padding: 0 rem(15);
}

/* ====== Header ====== */
.header {
    position: absolute;
    inset: 0 auto auto 0;
    width: 100%;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(10) rem(20);
        padding: rem(5) rem(15);
        min-height: rem(50);

        @media (min-width: em(768)) {
            min-height: rem(97);
        }
    }

    &__navigation {
        display: flex;
        align-items: center;
        gap: rem(5) rem(15);
        transition: transform 0.8s;
        z-index: 2;

        @media (min-width: em(400)) {
            gap: rem(5) rem(25);
        }

        @media (min-width: em(768)) {
            transform: translate(rem(215), 0);
        }
    }
}

.menu {
    @media (max-width: em(767.98)) {
        &__body {
            position: fixed;
            inset: 0 auto auto -100%;
            width: 100%;
            height: 100%;
            padding: rem(70) 0 0 rem(20);
            background-color: $darkGrayColor;
            opacity: 0;
            overflow: auto;
            transition: inset 0.3s;
            z-index: 1;

            &::before {
                content: '';
                position: fixed;
                inset: 0 auto auto -100%;
                width: 100%;
                height: rem(50);
                background-color: $darkGrayColor;
                z-index: 1;
                transition: inset 0.3s;
            }
        }
    }

    &__list {
        @extend %display-flex-column;
        gap: rem(15) 0;

        @media (min-width: em(768)) {
            flex-direction: row;
            flex-wrap: wrap;
            gap: rem(5) rem(25);
        }
    }

    &__item {
        @media (min-width: em(768)) {
            &_drop {
                position: relative;
                padding-right: rem(13);

                &::after {
                    content: '';
                    position: absolute;
                    inset: rem(10) 0 auto auto;
                    width: rem(8);
                    height: rem(5);
                    background: url('../img/icons/dropdown-arrow.svg') no-repeat;
                    opacity: 0.5;
                    cursor: pointer;
                    transition: opacity 0.3s;
                }

                @media (any-hover: hover) {
                    &:hover::after {
                        opacity: 1;
                    }

                    &:hover .menu__dropdown {
                        visibility: visible;
                        opacity: 1;
                        top: 100%;
                        pointer-events: auto;
                    }
                }
            }
        }

        @media (any-hover: hover) {
            &:hover .menu__link {
                color: $whiteColor;
            }

            &:hover .menu__link::after {
                width: 100%;
                inset: auto auto 0 0;
            }
        }
    }

    &__link {
        position: relative;
        display: inline-block;
        font-weight: 500;
        font-size: rem(18);
        line-height: 2.08;
        text-transform: capitalize;
        color: $whiteOpacityColor;
        transition: color 0.3s;

        &::after {
            content: '';
            position: absolute;
            inset: auto auto 0 50%;
            width: 0;
            height: rem(2);
            background-color: $beigeColor;
            border-radius: rem(2);
            transition: width 0.3s, inset 0.3s;
        }

        &.active,
        &:active {
            color: $whiteColor;
        }

        &.active::after {
            width: 100%;
            inset: auto auto 0 0;
        }

        @media (min-width: em(768)) {
            font-size: inherit;
        }
    }

    &__dropdown {
        @media (min-width: em(768)) {
            position: absolute;
            inset: 120% auto auto rem(-20);
            padding-top: rem(40);
            visibility: hidden;
            opacity: 0;
            transition: inset 0.3s, opacity 0.3s;
            pointer-events: none;
            z-index: 10;
        }
    }
}

.dropdown {
    &__list {
        padding: rem(15) rem(0) rem(0) rem(20);

        @media (min-width: em(768)) {
            min-width: rem(140);
            padding: rem(20);
            background-color: $darkGrayColor;
            border-radius: rem(5);
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: rem(10);
        }
    }

    &__link {
        font-weight: 500;
        font-size: rem(14);
        line-height: 2.08;
        color: $whiteOpacityColor;
        transition: color 0.3s;

        &:active {
            color: $whiteColor;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $whiteColor;
            }
        }

        @media (min-width: em(768)) {
            font-size: inherit;
        }
    }
}

.search {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: rem(10);
    min-height: rem(29);
    overflow: hidden;

    @media (min-width: em(350)) {
        gap: rem(15);
    }

    @media (min-width: em(768)) {
        flex-direction: row;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        min-width: rem(37);
        min-height: rem(25);
        border-right: rem(1) solid $whiteOpacityColor;

        &:active .search__icon {
            & path {
                fill-opacity: 1;
            }
        }

        @media (any-hover: hover) {
            &:hover .search__icon {
                & path {
                    fill-opacity: 1;
                }
            }
        }

        @media (min-width: em(768)) {
            justify-content: flex-end;
            border-right: none;
            border-left: rem(1) solid $whiteOpacityColor;
        }
    }

    &__icon {
        @media (max-width: em(767.98)) {
            width: rem(18);
            height: rem(19);
        }

        & path {
            transition: fill-opacity 0.3s;
        }
    }

    &__input {
        visibility: hidden;
        font-weight: 500;
        line-height: 2.08;
        color: $whiteColor;
        width: rem(100);
        min-height: rem(25);
        padding: 0 rem(5);
        border-radius: rem(3);
        background-color: $whiteOpacityColor;
        transition: transform 0.5s;

        &:focus {
            outline: rem(1) solid $whiteColor;
            border: rem(1) solid $whiteColor;
        }

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            content: url('../img/icons/search-cross.svg');
            cursor: pointer;
            transition: transform 0.3s;

            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1.3);
                }
            }
        }

        @media (min-width: em(350)) {
            width: rem(125);
        }

        @media (min-width: em(400)) {
            width: rem(150);
        }

        @media (min-width: em(450)) {
            width: rem(200);
        }

        @media (max-width: em(767.98)) {
            transform: translate(rem(150), 0);
        }

        @media (min-width: em(768)) {
            transform: translate(rem(216), 0);
        }
    }
}

.search-open {

    .search__input {
        visibility: visible;
        transform: translate(0, 0);
    }

    @media (min-width: em(768)) {
        .header__navigation {
            transform: translate(0, 0);
        }
    }
}

/* ====== Main Slider ====== */
.main {
    &__slider {
        position: relative;

        &:not(:last-child) {
            margin-bottom: rem(50);
        }

        @media (min-width: em(768)) {
            &:not(:last-child) {
                margin-bottom: rem(100);
            }
        }
    }
}

.slider {
    &__container {
        @extend %display-flex-column;
        justify-content: flex-end;
        gap: rem(40) rem(0);
        padding: rem(70) rem(15) rem(40);
        min-height: 100vh;

        @media (min-width: em(768)) {
            padding: rem(125) rem(15) rem(40);
        }
    }

    &__image {
        @include image-wrapper-absolute ($top: 0, $right: auto, $buttom: auto, $left: 0, $padding-bottom: 0%);
        background-color: $darkGrayColor;
        z-index: -1;

        & img {
            @include image-position ($top: 0, $right: auto, $buttom: auto, $left: 0, $object-fit: cover);
            filter: opacity(0.6);
        }
    }

    &__body {
        @extend %display-flex-column;
        gap: rem(15) rem(0);
        max-width: rem(605);
    }

    &__preview {
        max-width: rem(405);

        &>*:not(:last-child) {
            margin-bottom: rem(5);
        }
    }

    &__pages {
        display: flex;
        align-items: center;
        gap: rem(0) rem(10);
        justify-content: flex-end;
        letter-spacing: 0.2em;
        color: $lightGrayColor;

        &::before {
            content: '';
            flex: 0 0 rem(44);
            width: rem(44);
            height: rem(1);
            background-color: $whiteColor;
        }
    }
}

/* ====== Main Articles ====== */
.main {
    &__articles {
        &:not(:last-child) {
            margin-bottom: rem(50);

            @media (min-width: em(990)) {
                margin-bottom: rem(100);
            }
        }
    }
}

.articles {
    &__header {
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: rem(25);

            @media (min-width: em(990)) {
                margin-bottom: rem(44);
            }
        }
    }

    &__categories {
        font-weight: 500;
        line-height: 2.08;
        border-radius: 3px;
        transition: color 0.3s, background-color 0.3s;

        &::after {
            content: '+';
            padding-left: rem(7);
        }

        &:active {
            color: $whiteColor;
            background-color: $darkGrayOpacityColor;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $whiteColor;
                background-color: $darkGrayOpacityColor;
            }
        }
    }

    &__cards,
    &__more {
        &:not(:last-child) {
            margin-bottom: rem(30);

            @media (min-width: em(990)) {
                margin-bottom: rem(60);
            }
        }
    }
}

.add-columns {
    display: none;

    @media (min-width: em(1024)) {
        display: block;
    }

    &__button {
        font-weight: 500;
        line-height: 2.08;
        color: $grayOpacityColor;
        transition: color 0.3s;

        &:not(:last-child) {
            margin-right: rem(20);
        }

        &.active,
        &:active {
            color: $grayColor;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $grayColor;
            }
        }
    }
}

.four-columns {
    & .cards {
        grid-template: auto / repeat(4, 1fr);
    }

    @media (min-width: em(1024)) and (max-width: em(1270)) {
        & .cards {
            gap: rem(25) rem(15);
        }

        & .card {
            &>*:not(:last-child) {
                margin-bottom: rem(10);
            }
        }

        & .card__header {
            &:not(:last-child) {
                margin-bottom: rem(15);
            }
        }

        & .author {
            padding-top: rem(10);
        }

        & .card__title {
            font-size: rem(18);
        }
    }
}

.more {
    display: flex;
    justify-content: center;

    &__button {
        font-weight: 500;
        line-height: 2.08;
        text-transform: capitalize;
        color: $whiteColor;
        min-width: 100%;
        min-height: rem(40);
        padding: rem(5) rem(10);
        background-color: $darkGrayColor;
        border: rem(2) solid $darkGrayColor;
        border-radius: rem(3);
        transition: color 0.3s, background-color 0.3s;

        @media (min-width: em(425)) {
            min-width: rem(178);
        }

        &:active {
            color: $darkGrayColor;
            background-color: $whiteColor;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $darkGrayColor;
                background-color: $whiteColor;
            }
        }
    }
}

/* ====== Main Worldwide Articles ====== */
.main {

    &__worldwide-articles {
        &:not(:last-child) {
            margin-bottom: rem(50);

            @media (min-width: em(990)) {
                margin-bottom: rem(100);
            }
        }
    }
}

.worldwide-articles {
    &__title {
        font-weight: 500;
        line-height: 1;
        color: $grayColor;

        &:not(:last-child) {
            margin-bottom: rem(30);

            @media (min-width: em(990)) {
                margin-bottom: rem(60);
            }
        }
    }

    &__cards {
        display: grid;
        grid-template: auto / 1fr;
        gap: rem(25) rem(15);

        @media (min-width: em(425)) {
            grid-template: auto / repeat(2, 1fr);
        }

        @media (min-width: em(600)) {
            grid-template: auto / repeat(3, 1fr);
        }

        @media (min-width: em(990)) {
            grid-template: auto / repeat(4, 1fr);
            gap: rem(45) rem(30);
        }

        .title {
            &_small {
                @media (min-width: em(425)) and (max-width: em(925)) {
                    font-size: rem(16);
                }
            }
        }
    }
}

/* ====== Main Featured Topics ====== */
.main {

    &__ft-topics {
        @media (min-width: em(768)) {
            position: relative;
        }

        &:not(:last-child) {
            margin-bottom: rem(50);

            @media (min-width: em(990)) {
                margin-bottom: rem(100);
            }
        }
    }
}

.ft-topics {
    background-color: $darkGrayColor;

    &__container {
        padding: rem(50) rem(15) rem(30) rem(15);

        @media (min-width: em(768)) {
            padding: rem(50) rem(15);
        }

        @media (min-width: em(990)) {
            padding: rem(100) rem(15);
        }
    }

    &__body {
        &:not(:last-child) {
            margin-bottom: rem(50);

            @media (min-width: em(768)) {
                margin-bottom: rem(0);
            }
        }

        @media (min-width: em(768)) {
            width: rem(370);
        }

        @media (min-width: em(860)) {
            width: rem(400);
        }

        @media (min-width: em(935)) {
            width: rem(450);
        }

        @media (min-width: em(1024)) {
            width: rem(498);
        }
    }

    &__title {
        font-weight: 500;
        line-height: 1;

        &:not(:last-child) {
            margin-bottom: rem(30);

            @media (min-width: em(990)) {
                margin-bottom: rem(60);
            }
        }
    }

    .title {
        &_small {
            font-size: rem(16);

            @media (min-width: em(600)) and (max-width: em(767.98)) {
                font-size: rem(20);
            }
        }
    }

    &__cards {
        &>*:not(:last-child) {
            margin-bottom: rem(20);

            @media (min-width: em(460)) {
                margin-bottom: rem(30);
            }

            @media (min-width: em(935)) {
                margin-bottom: rem(40);
            }
        }
    }

    &__card {
        @media (min-width: em(425)) {
            display: grid;
            align-items: start;
            grid-template: auto / 36.345% 57.63%;
            gap: rem(0) rem(15);

            &>*:not(:last-child) {
                margin-bottom: rem(0);
            }
        }

        @media (min-width: em(600)) and (max-width: em(767.98)) {
            gap: rem(0) rem(25);
        }

        @media (min-width: em(935)) {
            gap: rem(0) rem(30);
        }

        .card__image {
            @include image-wrapper-relative ($padding-bottom: 100%);
            border-radius: rem(3);

            & img {
                @include image-position ($top: 0, $right: auto, $buttom: auto, $left: 0, $object-fit: cover);
            }
        }

        .card__body {
            &>*:not(:last-child) {
                margin-bottom: rem(5);

                @media (min-width: em(600)) and (max-width: em(767.98)) {
                    margin-bottom: rem(15);
                }

                @media (min-width: em(935)) {
                    margin-bottom: rem(15);
                }
            }
        }
    }

    &__slider {
        position: relative;
        @extend %display-flex-column;
        justify-content: center;
        align-items: center;
        padding: rem(100) rem(15);
        z-index: 1;

        &>*:not(:last-child) {
            margin-bottom: rem(15);
        }

        @media (min-width: em(768)) {
            position: absolute;
            inset: 0 0 auto auto;
            width: 48.958%;
            height: 100%;
            padding: rem(15);
        }

        .slider__pages {
            text-shadow: rem(0) rem(0) rem(10) $darkGrayColor;
        }

        .slider__title {
            text-align: center;
            max-width: rem(395);
        }

        .slider__preview {
            text-align: center;
            text-shadow: rem(0) rem(0) rem(10) $darkGrayColor;
            max-width: rem(395);

            &>*:not(:last-child) {
                margin-bottom: rem(5);
            }
        }

        .slider__image {
            & img {
                filter: opacity(0.8);
            }
        }
    }
}

/* ====== Footer ====== */
.footer {
    background-color: $darkGrayColor;

    &__container {
        min-height: rem(125);

        @media (min-width: em(768)) {
            min-height: rem(205);
        }
    }

    &__top,
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: rem(15) rem(20);
        padding: rem(20) 0;

        @media (min-width: em(768)) {
            padding: rem(40) 0;
        }
    }

    &__bottom {
        border-top: rem(1) solid $lightGrayOpacityColor;
    }

    &__logo {
        z-index: 0;
    }

    &__menu {
        .menu__list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: rem(5) rem(25);
        }

        .menu__link {
            font-size: inherit;
        }
    }

    &__address,
    &__rights {
        font-weight: 500;
        line-height: 1.67;
        color: $whiteOpacityColor;
    }

    &__rights {
        text-transform: capitalize;
    }
}