/* Reset styles */
@import url('reset.css');

/* Main styles */

body {
    font-family: 'Poppins', sans-serif;
    color: #6C757D;
}

.main__text-container {
    width: 846px;
    padding: 0 15px;
    margin: 0 auto 80px;
}

.main__image-container {
    width: 1270px;
    padding: 0 15px;
    margin: 0 auto 80px;
}

.main__text h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6;
    color: #212529;
    margin-bottom: 45px;
}

.main__text p {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 35px;
}

.group-images__image {
    display: inline-block;
    margin-right: -2.2px;
}

.main__group-images div+div {
    margin-left: 30px;
}

.last-text-container {
    margin-bottom: 65px;
}

/* Training section */

.training {
    width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

.training__photos {
    font-size: 0;
    text-align: center;
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 80px;
}

.training__photos a {
    display: inline-block;
    line-height: 155.1px;
    margin: 5px;
}

.training__photos img {
    width: 234.6px;
    vertical-align: middle;
}

.training__article-preview {
    margin-bottom: 50px;
}

.article-preview__image,
.article-preview__text {
    display: inline-block;
    vertical-align: top;
}

.article-preview__image {
    margin-right: 15px;
}

.article-preview__image img {
    width: 300px;
}

.article-preview__text {
    width: 825px;
    height: 205px;
    line-height: 1.6;
    overflow: hidden;
    margin-top: -6px;
}

.wide-photo {
    height: 96.77px;
}

.training__end {
    padding: 20px;
    text-align: right;
}

.training__end p,
.training__end a {
    display: inline-block;
    vertical-align: middle;
}

.training__end p {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 507px;
}