@import url('reset.css');
@import url("common.css");

/* Main styles */

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 2.08;
    color: #495057;
}

main {
    flex-grow: 1;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

[class*='__container'] {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Articles */

.articles__container {
    padding: 100px 15px;
}

.header-articles {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-weight: 500;
}

.header-articles:not(:last-child) {
    margin-bottom: 44px;
}

.header-articles__categories {
    position: relative;
    padding-right: 16px;
    transition: background-color 0.3s;
}

.header-articles__categories:hover {
    border-radius: 3px;
    background-color: #49505715;
}

.header-articles__categories::after {
    content: '+';
    position: absolute;
    inset: auto 2px auto auto;
    transition: transform 0.1s;
}

.header-articles__categories:active::after {
    transform: rotate(45deg) scale(1.5);
}

.view-articles {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
}

.view-articles__link {
    color: #49505780;
    transition: color 0.3s;
}

.view-articles__link.active,
.view-articles__link:hover {
    color: #495057;
}

.body-articles {
    display: flex;
    flex-wrap: wrap;
    row-gap: 45px;
    margin: 0 -15px;
}

.body-articles:not(:last-child) {
    margin-bottom: 60px;
}

.card {
    line-height: 1.66;
    flex: 0 0 33.333%;
    padding: 0 15px;
}

.card__column {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 100%;
}

.card__image {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    flex: 0 1 250px;
    transition: box-shadow 0.3s;
}

.card__image:not(:last-child) {
    margin-bottom: 15px;
}

.card__image:hover {
    box-shadow: 0 0 20px 2px #2125294d;
}

.card__image::after {
    content: 'CREATIVE';
    position: absolute;
    inset: 30px 30px auto auto;
    padding: 3px 12px 2px 13px;
    font-weight: 700;
    font-size: 8px;
    line-height: 2.5;
    text-transform: uppercase;
    color: #F8F9FA;
    background: #2125294d;
    border-radius: 3px;
}

.card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #C4C4C4;
    transition: transform 0.5s;
}

.card__image:hover img {
    transform: scale(1.05);
}

.card__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.7;
    color: #212529;
}

.card__link-title {
    transition: color 0.3s;
}

.card__link-title:hover {
    color: #366797;
}

.card__link-title:active {
    color: #0c69c7;
}

.card__link-title span {
    text-transform: uppercase;
}

.card__preview {
    flex-grow: 1;
}

.card__author {
    border-top: 1px solid #E5E5E5;
    padding-top: 15px;
}

.card__link-author:hover {
    text-decoration: underline;
    color: #366797;
}

.card__link-author:active {
    color: #0c69c7;
}

.footer-articles {
    text-align: center;
}

.footer-articles:not(:last-child) {
    margin-bottom: 60px;
}

.footer-articles__link-more {
    display: inline-block;
    font-weight: 500;
    color: #F8F9FA;
    text-transform: capitalize;
    padding: 8px 50px;
    background-color: #212529;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.footer-articles__link-more:hover {
    background-color: #212529de;
}

.footer-articles__link-more:active {
    background-color: #212529;
}